<form (ngSubmit)="onSubmit()">
  <div class="form-contol di">
    <label for="text">Task</label>
    <input
      [(ngModel)]="text"
      type="text"
      name="text"
      id="text"
      placeholder="Add Task"
    />
  </div>
  <div class="form-contol di">
    <label for="day">Day and Time</label>
    <input
      [(ngModel)]="day"
      type="text"
      name="text"
      id="text"
      placeholder="Add day and time"
    />
  </div>
  <div class="form-contol form-contol-check di">
    <label for="reminder">Set reminder</label>
    <input
      [(ngModel)]="reminder"
      type="checkbox"
      name="reminder"
      id="reminder"
    />
  </div>
  {{ text }}
  <div class="form-contol di">
    <input type="submit" value="Save Task" class="btn btn-block" />
  </div>
</form>
